<footer class="container-fluid mt-5 pt-5 px-sm-5 bg-body-tertiary rounded-top">
  <div class="row mx-0">
    <div class="col-12 col-sm-3 bg-black">1</div>
    <hr class="d-sm-none border-top border-black my-4 overflow-hidden" />
    <div class="col-12 col-sm-9 bg-body-tertiary row">
      <div class="bg-black col">Hello</div>
      <div class="bg-body-secondary col">Hello</div>
      <div class="bg-body-tertiary col">Hello</div>
      <div class="bg-black col">Hello</div>
    </div>
  </div>
  <hr class="border-top border-black my-3 overflow-hidden" />
  <div class="d-sm-flex justify-content-between align-items-center">
    <p>Copyright © 2022</p>
    <p>
      All Rights Reserved | <a href="#">Terms and Conditions</a> |
      <a href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
