<section id="aboveTheFold" style="height: 400px" class="vh-100">
  <div class="row g-3 align-items-center">
    <div class="col-7">
      <h1 class="text-break">
        <span class="text-info">One Step Solution</span> for all your dietary
        needs.
      </h1>
      <p>
        Using your BMI index we calculate whether the dish is suitable for you.
      </p>
      <div
        class="input-group mb-3 mt-5 w-75 shadow-sm mb-5 bg-body-tertiary rounded"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Search your product"
          aria-label="Search your product"
          aria-describedby="search bar"
        />
        <span class="input-group-text btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width="24"
            height="24"
          >
            <path
              fill="#ffffff"
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
            />
          </svg>
        </span>
      </div>
    </div>
    <div class="col-5">
      <img id="hero-img" src="/assets/hero-img.png" alt="hero image" />
    </div>
  </div>
</section>
<section id="features" style="height: 400px" class="bg-danger">
  features here
</section>
<section id="topics" style="height: 400px" class="bg-info">topics here</section>
