#aboveTheFold {
  padding-top: 120px;
}

#hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#features {
  display: grid;
  place-content: center;
}

.horizontal-media-scroller {
  --size: 150px;
  --gap: 60px;

  width: 100%;
  display: flex;
  /* grid-auto-flow: column; */
  /* gap: calc(var(--gap) / 2); */
  margin: 0;

  padding-inline-start: calc(var(--gap) / 2);
  padding-inline-end: var(--gap);
  padding-block-start: calc(var(--gap) / 2);
  padding-block-end: calc(var(--gap) / 2);

  /* overflow-x: auto; */
  /* overscroll-behavior-inline: contain; */
  /* scroll-snap-type: inline mandatory; */
  scroll-padding-left: var(--gap);
  scroll-padding-right: var(--gap);
  scroll-padding-inline: var(--gap);
}
